@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .pause {
    animation-play-state: paused;
  }
}
